:root {
  --color-background-dark: #2c3e50;
  --color-background-dark-transparent: #2c3e5093;
  --color-background-light: #ecf0f1;
  --color-background-light-transparent: #ecf0f148;
  --color-primary: #f39c12;
  --color-secondary: #c0392b;
  --color-white: #ecf0f1;
  --color-black: #2c3e50;
}

main > section {
  background-color: var(--color-background-light);
  border-bottom: var(--color-primary) 0.2rem solid;
}
h2 {
  font-size: 3rem;
  color: var(--color-black);
  padding: 2rem;
  text-align: center;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-dark);
  color: var(--color-primary);
}
header figure {
  padding: 2.2rem 2rem 0;
}
header img {
  display: block;
  width: 12rem;
  margin: 0 auto;
}
header h1 {
  font-family: "Pacifico", cursive;
  font-size: 2.4rem;
  text-align: center;
  padding-bottom: 0.4rem;
}

header nav {
  background-color: var(--color-background-dark);
  width: 100%;
  position: fixed;
  bottom: 0;
}

header nav ul {
  width: 100%;
  display: flex;
  outline: none;
  overflow-y: hidden;
  padding: 1rem;
  border-top: 0.1rem solid var(--color-primary);
}

header nav ul li {
  width: 100%;
  padding: 0.2rem 2rem;
  text-align: center;
  margin: auto;
  font-weight: 500;
}

header nav a {
  width: 100%;
  margin: auto;
  font-size: 1.8rem;
  text-align: center;
  color: var(--color-primary);
}

/* Actualité */
#news ul {
  padding: 0 2rem 4rem;
}
#news article h3 {
  font-size: 3rem;
  margin-bottom: 0.2rem;
  color: var(--color-secondary);
  text-align: center;
}
#news article h4 {
  margin-bottom: 0.2rem;
  font-size: 1.2rem;
  color: var(--color-primary);
}
#news article figure figcaption {
  font-size: 1rem;
  font-weight: 100;
  padding: 0.8rem;
  color: var(--color-black);
  text-align: center;
}
#news article p {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--color-black);
  text-align: justify;
}
#news img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

/* Les Films*/
#movies img {
  max-width: 100%;
}
#movies > ul > li > figure figcaption {
  padding: 2rem;
}
#movies ul li figure figcaption ul li:nth-child(1) {
  font-size: 2rem;
  font-weight: bolder;
}
#movies ul li figure figcaption ul li:nth-child(2),
#movies ul li figure figcaption ul li:nth-child(3),
#movies ul li figure figcaption ul li:nth-child(4) {
  font-size: 1.2rem;
}
#movies ul li figure figcaption ul li:nth-child(3) {
  color: var(--color-secondary);
}
#movies ul li figure figcaption ul li:nth-child(3)::before {
  color: var(--color-background-dark);
  content: "De ";
}
#movies ul li figure figcaption ul li:nth-child(4) {
  color: var(--color-primary);
}
#movies ul li figure figcaption ul li:nth-child(4)::before {
  color: var(--color-background-dark);
  content: "Avec ";
}

/* Pré-inscription */
#sign {
  background-color: var(--color-background-dark);
}
#sign h2 {
  color: var(--color-white);
}
#sign form {
  display: flex;
  flex-direction: column;
  margin: 0 2rem 4rem;
  padding: 2rem;
  background-color: var(--color-background-light-transparent);
  border: var(--color-primary) 0.4rem solid;
  border-radius: 2rem;
}
#sign form p {
  font-size: 2.2rem;
  margin-bottom: 0.8rem;
}
#sign form label {
  font-size: 2rem;
  margin-bottom: 0.2rem;
}
#sign form input {
  font-size: 2rem;
  padding: 0.8rem;
  margin-bottom: 0.4rem;
}
#sign form input:last-child {
  margin-top: 8rem;
  background-color: var(--color-background-dark);
  color: var(--color-primary);
  border: solid 0.4rem var(--color-primary);
}
/* Footer */
footer section {
  background-color: var(--color-primary);
  color: var(--color-black);
  padding: 2rem 2rem;
}
footer h3 {
  font-size: 2rem;
}
footer h4 {
  font-size: 2rem;
}
footer p,
footer a,
footer address {
  font-size: 2rem;
  text-align: justify;
}
footer a {
  word-wrap: break-word;
}
footer > p {
  font-size: 1rem;
  background-color: var(--color-background-dark);
  color: var(--color-primary);
  padding: 1rem 0.4rem 10rem;
  text-align: center;
}
footer > p > a {
  font-size: 1rem;
  color: var(--color-primary);
}

footer section:first-child h4 {
  font-family: "Pacifico", cursive;
  margin-bottom: 0.4rem;
}

@media screen and (min-width: 700px) {
  header img {
    width: 12rem;
  }
  header h1 {
    font-size: 4rem;
  }
  header nav {
    position: initial;
    border-bottom: 0.1rem solid var(--color-primary);
  }
  header nav a {
    font-size: 2rem;
  }

  main > section {
    padding: 2rem 8rem;
    background-color: var(--color-background-dark);
  }
  h2 {
    font-size: 4rem;
    color: var(--color-primary);
  }
  /* Actualité*/
  #news ul li {
    margin-top: 2rem;
  }

  #news ul li figure {
    width: 200rem;
    height: 100%;
    margin-right: 2rem;
    padding: 1rem;
    background-color: var(--color-white);
  }
  #news ul li figure figcaption {
    padding-top: 2rem;
    font-size: 1.4rem;
    font-weight: bolder;
    color: var(--color-black);
  }
  #news ul li article {
    display: flex;
    flex-direction: row;
  }
  #news ul li article > section {
    padding: 2rem;
    background-color: var(--color-background-light);
  }
  #news ul li article > section h3 {
    text-align: left;
  }

  #news ul li:nth-child(2n) article {
    flex-direction: row-reverse;
  }
  #news ul li:nth-child(2n) article figure {
    margin: 0 0 0 2rem;
  }

  /* Les Films */
  #movies {
    padding: 2rem ;
  }
  #movies > div {
    display: flex;
  }
  #movies ul {
    display: flex;
  }
  #movies ul img {
    display: block;
  }
  #movies ul li figure {
    margin: 2rem 2rem 4rem;
  }
  #movies ul li figure figcaption {
    padding: 1.4rem;
    background-color: var(--color-white);
    line-height: 2rem;
  }
  #movies ul li figure figcaption ul {
    display: flex;
    flex-direction: column;
  }
  #movies>div i{
    margin: auto 0;
    font-size: 6rem;
    color: var(--color-white);

  }
  #movies > div:last-child {
    justify-content: center;
    width: 100rem;
    margin: 0 auto 2rem;
  }
  #movies > div:last-child div {
    width: 1rem;
    height: 1rem;
    border-radius: 10rem;
    margin: 0 1rem;
    background-color: var(--color-white);
  }

  /* Pré-inscription */
#sign form input:last-child{
  display: inline-block;
  max-width: 100%;
}

}
